*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.rar
*.mdf
*.ldf
**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
*/Performance/*TestResults.txt
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
.vs/
Publish/
/.vs/CursoIntermedioCSharp/v17/.futdcache.v2
/.vs/ProjectEvaluation/cursointermediocsharp.metadata.v7.bin
/.vs/ProjectEvaluation/cursointermediocsharp.projects.v7.bin
/.vs/CursoIntermedioCSharp/FileContentIndex/a86e87df-9953-47dc-b5d4-fcf05220b173.vsidx
